:host {
    /* To fix problem with redundant vertical scroll.*/
    display: block;
    height: 140px;

    padding: 10px;
}

.game-complete-actions {
    display: flex;
    justify-content: space-around;
}